<%= render "form", producto: @producto %>

<br>

<div>
  <%= link_to "â† Volver a Productos", productos_path, class: "btn btn-outline-secondary", style: "font-size: 0.8rem; padding: 4px 12px;" %>
</div>
