<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #ba2e2e; border-bottom: 1px solid #f8f9fa;">
  <div class="container-fluid">

    <!-- Sidebar Toggle Button -->
    <button
      class="navbar-toggler sidebar-toggle"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Brand -->
    &nbsp; <%= link_to "Tango", root_path, class: "navbar-brand text-white" %>

    <!-- Spacer to push logo to the right -->
    <div class="d-flex ms-auto">
      <!-- Company Logo -->
      <%= image_tag asset_path("molinos2.png"), alt: "Company Logo", class: "img-fluid", style: "max-height: 40px;" %>
    </div>

  </div>
</nav>